// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
 .nav {
   background-color: lightgreen;
   min-height: 50px;
   margin-top: -119px;
 }
