@charset 'UTF-8';
// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';
// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/grid';

// 5. Components
@import
  'components/button';

// 6. Themes
@import
  'themes/default';

.wrapper, .row, .hero{
  @extend %clearfix;
  }
.hero {
  background-image: url(../../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
  & h1, p {
    text-align: center;
    padding: 0 90px;
  }
}
.grey-background {
  padding: 90px 0;
  & h2 {
    text-align: center;
  }
  & p {
    margin-top: 0;
    text-align: center;
  }
}
.card-row {
  margin-top: 100px;
  margin-left: -15px;
  margin-right: -15px;
}

.card-content {
  background-color: $hero-text-color;
  padding: 25px;
  text-align: center;
  & p {
    font-weight: 300;
  }
}
