/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

$colors: (
  'green': $green-main,
  'dark-grey': $dark-grey,
  'hero-text': $hero-text-color,
  'dark-green': $green-dark
);

@each $color, $hex in $colors{
  .text-#{$color}{
    color: $hex;
  }
  .background-#{$color}{
    background-color: $hex;
  }
}
.grey-background {
  background-color: $background-color;
}

.number {
  font-family: "Montserrat","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
